{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}

            <div class="Categories">
         
            <div class="text1">
            <img src={{ url_for('static', filename="Vizzano.jpg", width="300px")}}/>
            <p>Red Platform heel</p>
             <P>   Size: Consult in store  </P>
              <P>  Availability: 10 pieces</p>
                <p>Price: $70</p>
        </div>
       
                  
        <div class="text2">
            <img src={{ url_for('static', filename="Sandalia.jpg", width="300px")}}/>
            <p>Black Platform Sandal</p>
             <P>   Size: Consult in store  </P>
              <P>  Availability: 7 pieces</p>
                <p>Price: $55</p>
        </div>
       
        
            
            <div class="text3">
            <img src={{ url_for('static', filename="Sapato Social.jpg", width="300px")}}/>
            <p>Black Social Shoes</p>
             <P>   Size: Consult in store</P>
              <P>  Availability: 8 pieces</p>
                <p>Price: $50</p>
            </div>

            </div>
            {% endblock %}